h1,
h2,
h3 {
  font-family: "Roboto", "Open Sans", sans-serif;
}
body {
  font-family: "Combo", cursive;
  max-width: 500px;
  margin: auto;
}
img {
  border: double;
}
header {
  background-color: rgba(124, 87, 11, 0.76);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  text-align: center;
  background-color: rgba(124, 87, 11, 0.76);
}
main ul li {
  text-align: center;
  margin: 0;
}
ul {
  letter-spacing: 2px;
  list-style: square inside url("sqpurple.gif");
}

ul a {
  letter-spacing: 1.5px;
}
.image-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.row {
  grid-column: 2/3;
}
